{
  "extends": "eslint:recommended",

  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },

  "rules": {
    "indent":                       ["error", 2],
    "quotes":                       ["error", "single"],
    "prefer-const":                 ["error"],
    "no-var":                       ["error"],
    "comma-dangle":                 ["error", "only-multiline"],
    "object-curly-spacing":         ["error", "never"],
    "space-before-function-paren":  ["error", {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "ignore"
    }],
    "space-before-blocks":          ["error"],
    "keyword-spacing":              ["error", {
      "before": true,
      "after": true
    }],
    "no-trailing-spaces":           ["error"],
    "padded-blocks":                ["error", "never"],
    "space-in-parens":              ["error", "never"],
    "linebreak-style":              [2, "unix"],
    "semi":                         ["error", "always"],
    "handle-callback-err":          ["error"]
  }
}
